*{
    margin: 0;
    box-sizing: border-box;
}
.container {
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
}
.main {
    max-width: 600px;
    padding: 10px 0;
    margin-top: 25px;
}
.results {
    margin-top: 25px;
}